.form{
    height: 60vh;
}
.login{
    width: 26rem;
}
.signin{
    
    margin-left: 2rem;
    width: 32rem;
}
/* .toast {
  
    -moz-animation: cssAnimation 0s ease-in-out 5s forwards;
    
    -webkit-animation: cssAnimation 0s ease-in-out 5s forwards;
    
    -o-animation: cssAnimation 0s ease-in-out 5s forwards;
   
    animation: cssAnimation 0s ease-in-out 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
} */
.toast{
    position: absolute;
    animation: bounce 5s ;
    visibility: hidden;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0%);
    opacity: 0;
    visibility: hidden;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(25%);
    opacity: 1;
    visibility: visible;
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }
}